{% if site.data.social.rss or site.theme_settings.rss %}
<li>
    <a feed.xml href="{{ site.data.social.feed.path | default: 'feed.xml' | relative_url }}"
       title="{{ site.data.language.str_rss_follow | default: '关注微信公众号' }}"
       target="_blank">
        <img src="assets/img/Bottom/Wechatlogo.png" alt="">
    </a>
</li>
{% endif %}

{% comment %}尝试注释第二个icon{% endcomment %}

{% comment %}{% for footer in site.data.icons %}{% endcomment %}
    {% comment %}{% unless footer[1] == nil %}{% endcomment %}
        {% comment %}{% assign brand = footer[0] %}{% endcomment %}
        {% comment %}{% assign id = footer[1] %}{% endcomment %}
        {% comment %}{% assign data = site.data.icons_builder[brand] %}{% endcomment %}
        {% comment %}{% if data.icon == nil %}{% endcomment %}
            {% comment %}{% assign icon = "fab fa-" | append: brand %}{% endcomment %}
        {% comment %}{% else %}{% endcomment %}
            {% comment %}{% assign icon = data.icon %}{% endcomment %}
        {% comment %}{% endif %}{% endcomment %}
        {% comment %}<li>{% endcomment %}
            {% comment %}<a href="{{ data.pre | append: id | append: data.pos }}"{% endcomment %}
               {% comment %}title="{{ site.data.language.str_follow_on }} {{ brand | remove: '-' | capitalize }}"{% endcomment %}
               {% comment %}target="_blank"{% endcomment %}
               {% comment %}rel="noopener">{% endcomment %}
            {% comment %}<span class="fa-stack fa-lg">{% endcomment %}
              {% comment %}<i class="fas fa-circle fa-stack-2x"></i>{% endcomment %}
              {% comment %}<i class="{{ icon }} fa-stack-1x fa-inverse"></i>{% endcomment %}
            {% comment %}</span>{% endcomment %}
            {% comment %}</a>{% endcomment %}
        {% comment %}</li>{% endcomment %}
    {% comment %}{% endunless %}{% endcomment %}
{% comment %}{% endfor %}{% endcomment %}
